#color-palette{
  height: 50px;
}

.color{
  border: solid 1px black;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

#blackColor {
  background-color: black;
}

#purpleColor{
  background-color: purple;
}

#blueColor{
  background-color: blue;
}

#greenColor{
  background-color: green;
}

#pixelsSection{
  /* height: 200px; */
  border: red 1px solid;
  padding: 0%;
}

.linesDraw{
  height: 42px;
}
